<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Aranda,Pablo Damián</title>
		<meta charset="UTF-8"/>
		<meta name="description" content="R. Giggs - Creative Onepage Template"/>
		<meta name="keywords" content="personal, portfolio, vcard"/>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>
		<!-- Favicon -->
		<link
		href="{{ asset('assets/img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/owl.theme.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/perfect-scrollbar.css') }}"/>
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
		<link
		rel="stylesheet" href="{{ asset('assets/css/style-dark.css') }}"/>

		<!-- Color Alternatives -->
		<link href="{{ asset('assets/css/colors/switcher.css') }}" rel="stylesheet" type="text/css"/>
		<link href="{{ asset('assets/css/colors/color-1.css') }}" rel="stylesheet" type="text/css"/>
		<link href="{{ asset('assets/css/colors/color-2.css') }}" rel="alternate stylesheet" type="text/css" title="color-2"/>
		<link href="{{ asset('assets/css/colors/color-3.css') }}" rel="alternate stylesheet" type="text/css" title="color-3"/>
		<link href="{{ asset('assets/css/colors/color-4.css') }}" rel="alternate stylesheet" type="text/css" title="color-4"/>
		<link href="{{ asset('assets/css/colors/color-5.css') }}" rel="alternate stylesheet" type="text/css" title="color-5"/>
		<link href="{{ asset('assets/css/colors/color-6.css') }}" rel="alternate stylesheet" type="text/css" title="color-6"/>
		<link href="{{ asset('assets/css/colors/color-7.css') }}" rel="alternate stylesheet" type="text/css" title="color-7"/>
		<link href="{{ asset('assets/css/colors/color-8.css') }}" rel="alternate stylesheet" type="text/css" title="color-8"/>
		<link href="{{ asset('assets/css/colors/color-9.css') }}" rel="alternate stylesheet" type="text/css" title="color-9"/>
		<link href="{{ asset('assets/css/colors/color-10.css') }}" rel="alternate stylesheet" type="text/css" title="color-10"/>
		<link href="{{ asset('assets/css/colors/color-11.css') }}" rel="alternate stylesheet" type="text/css" title="color-11"/>
		<link
		href="{{ asset('assets/css/colors/color-12.css') }}" rel="alternate stylesheet" type="text/css" title="color-12"/>

		<!-- Google Web fonts -->
		<link
		href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"/>
		<!-- Font icons -->
		<link rel="stylesheet" href="{{ asset('assets/icon-fonts/font-awesome-4.5.0/css/font-awesome.min.css') }}"/>
		<link
		rel="stylesheet" href="{{ asset('assets/icon-fonts/essential-regular-fonts/essential-icons.css') }}"/>

	<!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>
		<!-- Preloading -->
		<div id="preloader">
			<div class="spinner">
				<div class="uil-ripple-css" style="transform: scale(0.29)">
					<div></div>
					<div></div>
				</div>
			</div>
		</div>

		<!--ABOUT-->
		<section class="about line-bg" id="about">
			<div class="container">
				<div
					class="row">
					<!-- Profile Image -->
					<div class="col-md-4 profile">
						<img src="{{ asset('assets/images/profile_image.jpg') }}" alt=""/>
					</div>
					<!-- About Information -->
					<div class="col-md-8 about-info top_30">
            <div class="left-title">
							<h1>Aranda, Pablo Damián</h1>
              <h1>(Fullstack Developer)</h1>
						</div>
						<div class="left-title">
							<h1>ABOUT ME</h1>
						</div>
						<p>
							Born in Argentina, bacherlor´s degree in Information System
							              Engineering, I'm passionate about working in the IT industry.
							              Before ending my grade studies I had already started to work in
							              the SW industry. I have been in different projects with different
							              technologies and roles, dedicating the most of my time to web
							              projects and other times touching other technologies and
							              frameworks when it was needed. I believe in continuous learning to
							              keep updated about the new technologies, how to use them and when
							              they are truly needed.
							<br/>
							<br/>
						</p>
						<br/>
						<div>
							<h1>Professional skills</h1>
							<br/>
							<ul class="col-md-4 giggs-list">
								<span>
									<h3>Web and Mobile</h3>
								</span>
								<br/>
								<li>
									<span>Symfony (v3,v4,v5,v6)
									</span>
								</li>
								<li>
									<span>Laravel</span>
								</li>
								<li>
									<span>Doctrine</span>
								</li>
								<li>
									<span>Memcached</span>
								</li>
								<li>
									<span>Redis</span>
								</li>
								<li>
									<span>PHP</span>
								</li>
								<li>
									<span>Unit Testing (PHPSpect, Behat)</span>
								</li>
								<li>
									<span>API PLATFORM</span>
								</li>
								<li>
									<span>Python</span>
								</li>
								<li>
									<span>Django</span>
								</li>
								<li>
									<span>HTML5</span>
								</li>
								<li>
									<span>Javascript</span>
								</li>
								<li>
									<span>VUE</span>
								</li>
								<li>
									<span>ReactJs</span>
								</li>
								<li>
									<span>NodeJs</span>
								</li>
								<li>
									<span>Flutter</span>
								</li>
								<li>
									<span>Android Studio</span>
								</li>
							</ul>
							<ul class="col-md-4 giggs-list">
								<span>
									<h3>DDBB</h3>
								</span>
								<br/>
								<li>
									<span>MYSQL</span>
								</li>
								<li>
									<span>SQLSERVER</span>
								</li>
								<li>
									<span>PostgreSQL</span>
								</li>
							</ul>

							<ul class="col-md-4 giggs-list">
								<span>
									<h3>ML</h3>
								</span>
								<br/>
								<li>
									<span>Deep Learning</span>
								</li>
								<li>
									<span>Basics Machine Learning methodologies and algorithms</span>
								</li>
								<li>
									<span>Jupyter Notebook</span>
								</li>
								<li>
									<span>Google Cloud APIs and tools (Tensorflow, Translator,
										                    Analyst, Firebase)</span>
								</li>
							</ul>

							<ul class="col-md-4 giggs-list">
								<span>
									<h3>Methodologies</h3>
								</span>
								<br/>
								<li>
									<span>Agile Methodologies - SCRUM</span>
								</li>
								<li>
									<span>Kanvan</span>
								</li>
								<li>
									<span>Design patterns</span>
								</li>
								<li>
									<span>Git workflow</span>
								</li>
							</ul>

							<ul class="col-md-4 giggs-list">
								<br><br>
								<span>
									<h3>Others</h3>
								</span>
								<br/>
								<li>
									<span>Jenkins</span>
								</li>
								<li>
									<span>Docker</span>
								</li>
								<li>
									<span>Linux</span>
								</li>
							</ul>


						</div>
						<br>


					</div>
					<div class="col-md-4"></div>
					<!-- About Information -->
					<div class="col-md-8 about-info top_30">
            <hr>
						<ul class="col-md-4 giggs-list">
							<span>
								<h3>Languages</h3>
							</span>
							<br/>
							<li>
								<span>Spanish(native)</span>
							</li>
							<li>
								<span>English(fluent, level B2)</span>
							</li>
							<li>
								<span>Portuguese(read and understand)</span>
							</li>
						</ul>

						<ul class="col-md-4 giggs-list">
							<span>
								<h3>Soft skills</h3>
							</span>
							<br/>
							<li>
								<span>Big Picture</span>
							</li>
							<li>
								<span>Teamwork</span>
							</li>
							<li>
								<span>Creativity</span>
							</li>
							<li>
								<span>Problem solving</span>
							</li>
							<li>
								<span>Brainstorming</span>
							</li>
							<li>
								<span>Detail oriented</span>
							</li>
							<li>
								<span>Task prioritization</span>
							</li>

						</ul>
					</div>
				</div>
				<div class="text-center">
					<br><br>
					<a class="giggs_button top_15 align-center" target="_blank" href="{{ asset('cv/cv-Aranda,Pablo.pdf') }}">DESCARGAR CV</a>
					<a class="giggs_button top_15 align-center" target="_blank" href="{{ asset('cv/resume-Aranda,Pablo.pdf') }}">DOWNLOAD CV</a>
				</div>

			</div>
		</section>
		<!-- CONTACT -->
		<section class="contact" id="contact">
			<div class="container">
				<div class="row">
					<div class="center-title">
						<h1>GET IN TOUCH</h1>
						<p></p>
					</div>
					<div class="col-md-12">
						<div
							class="row">
							<!-- contact-informations -->
							<div class="col-md-12 contact-information top_45">
								<div class="col-md-3 contact-info text-center">
									<i class="fa fa-phone" aria-hidden="true"></i>
									<p>+54 3794735744</p>
								</div>
								<div class="col-md-3 contact-info text-center">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									<p>Corrientes, Corrientes, Argentina</p>
								</div>
								<div class="col-md-3 contact-info text-center">
                  <a href = "mailto: arandapablodamian@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>arandapablodamian@gmail.com</a>
								</div>
								<div class="col-md-3 contact-info text-center">
									<a target="_blank" href="https://www.linkedin.com/in/aranda-pablo-damian"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                  <p>
                    <a target="_blank" href="https://www.linkedin.com/in/aranda-pablo-damian">https://www.linkedin.com/in/aranda-pablo-damian</a>
                  </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div id="overlay"> </div>
		<!-- Javascripts -->
		<script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
		<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/typed.js') }}"></script>
		<script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
		<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('assets/twitter-api/tweetie.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.mousewheel.js') }}"></script>
		<script src="{{ asset('assets/js/perfect-scrollbar.js') }}"></script>
		<script src="{{ asset('assets/js/styleswitcher.js') }}"></script>
		<script src="{{ asset('assets/js/main.js') }}"></script>
	</body>
</html>
